@model IEnumerable<HoaDon>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Trạng thái đơn hàng</th>
                <th>Tổng cộng</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.OrderStatus</td>
                    <td>@item.Address</td>
                    <td>@item.Total</td>
                    <td>
                        <a href="#">Chi tiết đơn hàng</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
